## Importar librerias

In [10]:
import pandas as pd
import os
import glob
from datetime import datetime
from sqlalchemy import create_engine

## Importar archivos

In [11]:
path = os.getcwd() + "\\Dataset\\"
files = glob.glob(path + "/*precios*")
#un solo archivo
#new=glob.glob(path + "/precios_semana_20200413.csv")#para la carga incremental

### lectura de archivos (FER)

In [ ]:
df_precios = pd.read_excel(files[0], dtype=object ,sheet_name=1)
df_precios1 = pd.read_excel(files[0], sheet_name=0)
df_precios2 = pd.read_csv(files[1],sep=',',encoding='utf-16')
df_precios3 = pd.read_json(files[2])

### Lectura de archivos generalizada
done

In [13]:
def read_file(path): 

    for i in path:
        ext = os.path.splitext(i)[-1].lower() #deja solo las extensiones
        if ext=='.xlsx':
            xls = pd.ExcelFile(i)
            sheets=xls.sheet_names
            if len(sheets)==1:
                df=pd.read_excel(i)
                return df
            elif len(sheets)==2:
                df1=pd.read_excel(i,sheet_name=0).assign(semana=sheets[0])
                df2=pd.read_excel(i,sheet_name=1).assign(semana=sheets[1])
                return df1, df2
            else:
                print('Archivo Excel con mas de dos sheets')
        elif ext=='.csv' or ext=='.txt':
            df=pd.read_csv(i,sep=',',encoding='utf-16').assign(semana=os.path.basename(i).split('.')[0])
            return df
        elif ext=='.json':
            df=pd.read_json(i).assign(semana=os.path.basename(i).split('.')[0])
            return df
        else:
            print('no excel ni csv ni json')

## Transformacion

-df_precios 1 15156 delete

- df_precios 3 despues de etl 2124 nan

## <u>FER:</u>  
-  La funcion unDate(x) trabajaba a nivel Serie y originalmente estaba pensada para ser usada en un .apply(), por eso no estaba funcionando. Para corregirlo (no estoy seguro de que sea la mejor manera), la renombre a unDateSeries(x) y cree una unDate(df) que recibe un df y aplica unDateSeries a la serie Sucursal_id.  
-  La typeCheck() para la parte de producto no funcionaba porque trataba de aplicar la funcion en forma vectorizaa sin tener en cuenta los diferentes casos dentro de una misma columna de manera correcta. Ya modifique y quedó funcionando todo.
**A revisar**  
La carga de archivos automatizada no contempla el hecho de que la segunda hoja del sheet tiene datos anteriores a la primera hoja (estan invertidos)

In [5]:
def unDate(df):
    
    def unDateSeries(x):
        """read_excel me trae algunas sucursal_id como si fueran datetime. Esta funcion toma elementos de una serie, 
           chequea si son datetime y en caso de serlo, los convierte a str con el formato acorde al orden de identificadores de sucursal"""
        if isinstance(x,datetime):
            x=x.strftime("%#d-%#m-%Y")
        return x

    df.sucursal_id = df.sucursal_id.apply(unDateSeries)
    return df 

def nasDups(df):
    """Cosas básicas: remover duplicados y nulos"""
    df = df.copy()
    df = df.dropna()
    df = df.drop_duplicates()
    return df

def typeCheck(df):
    """En base a la exploracion inicial, se detectaron errores comunes en los diferentes campos. 
       Esta funcion soluciona todos los problemas encontrados en los diferentes archivos de la fuente de datos"""

    if df.precio.dtype != "float":
        """Algunos precios llegan con un string vacio en vez de nulo. Los convertimos a None para removerlos despues. 
           A los que tienen valores, los convertimos a float"""
        try:
            df.precio = df.precio.apply(lambda x: None if x == '' else x)
            df.precio = df.precio.astype(float)
        except:
            print("Error type precios")

    if df.sucursal_id.dtype != "str":
        try:
            df.sucursal_id = df.sucursal_id.astype('string')
        except:
            print('Error type sucursal_id')
            
    def prod(x):
        if isinstance(x,str):
            x = x.split('-')[-1]
        elif isinstance(x,float):
            x = int(x)
        else:    
            x=x
        return x
    df.producto_id = df.producto_id.apply(prod)

    return df

def splitProd(df):
    """Algunos productos tenian hardcodeada la sucursal. Removemos esa porcion del string y nos quedamos 
       unicamente con el codigo de producto (12-13 char)"""
    df.producto_id = df.producto_id.str.split('-').str[-1]
    
    return df

In [6]:
def etl(df):
    df = nasDups(df)
    df = unDate(df)
    df = typeCheck(df)
    #df = splitProd(df)
    return df

## Aplicacion de transformacion a Dataframes

In [44]:
df_precios = etl(df_precios)
df_precios1 = etl(df_precios1)
df_precios2 = etl(df_precios2)
df_precios3 = etl(df_precios3)

### Quick checks

In [54]:
#1
prueba=df_precios3.copy()
prueba.isna().sum()

precio         0
producto_id    0
sucursal_id    0
dtype: int64

In [56]:
#3
prueba=etl(prueba)

In [57]:
#2 y 4= columnas eliminadas
df_precios3.shape[0]-prueba.shape[0]

0

In [46]:
prueba.sample(15)

         precio   producto_id sucursal_id
144548   2200.0  7.790314e+12     10-1-48
133923   9299.0  7.790250e+12     21-1-27
276      4830.0  4.227713e+07    10-2-184
92715     429.0  7.790045e+12      45-1-5
309543    599.0  7.792354e+12      49-1-2
62784    1540.0  7.613035e+12    10-1-147
197267  12309.0  7.790741e+12   11-5-1008
441675   3999.0  7.798165e+12      25-1-1
111993    499.0  7.790080e+12      49-1-2
253631   1420.0  7.791293e+12     2-1-044
478638  45999.0           NaN    9-3-5218
396624   2080.0  7.797906e+12     9-1-903
60652   13899.0  7.613034e+12      7-1-37
272698   1590.0  7.791338e+12      49-1-2
109483   1999.0  7.790079e+12    12-1-165

### Postgresql

In [58]:
cone = create_engine('postgresql://admin:admin1234@localhost:5432/productDb')

In [62]:
df_precios.to_sql(name='producto',con=cone, if_exists='replace')
print('La carga se ha hecho con exito!')

La carga se ha hecho con exito!

In [60]:
df_precios.shape

(458543, 3)