In [1]:
import pandas as pd
import os
import glob

In [12]:
path = os.getcwd() + "\\Dataset\\"
files = glob.glob(path + "/*precios*")

In [13]:
files

['c:\\Users\\ferch\\Desktop\\Henry-Mentor\\DS_LABS\\Proyectos\\Proyectos Individuales\\PI01_DATA04\\Dataset\\precios_semanas_20200419_20200426.xlsx',
 'c:\\Users\\ferch\\Desktop\\Henry-Mentor\\DS_LABS\\Proyectos\\Proyectos Individuales\\PI01_DATA04\\Dataset\\precios_semana_20200413.csv',
 'c:\\Users\\ferch\\Desktop\\Henry-Mentor\\DS_LABS\\Proyectos\\Proyectos Individuales\\PI01_DATA04\\Dataset\\precios_semana_20200503.json',
 'c:\\Users\\ferch\\Desktop\\Henry-Mentor\\DS_LABS\\Proyectos\\Proyectos Individuales\\PI01_DATA04\\Dataset\\precios_semana_20200518.txt']

In [14]:
df_precios = pd.read_excel(files[0])
df_precios2 = pd.read_csv(files[1],sep=',',encoding='utf-16')
df_precios3 = pd.read_json(files[2])

In [22]:
df_precios

         precio   producto_id sucursal_id
0         399.0  2.288000e+03     2-1-092
1         299.0  2.288000e+03     2-1-206
2         399.0  2.288000e+03     2-2-241
3       49999.0  2.058700e+05     9-1-430
4       53999.0  2.058700e+05       9-2-4
...         ...           ...         ...
478904  13999.0  9.569753e+12      25-1-1
478905   3499.0  9.795403e+12      25-1-1
478906   3125.0  9.990386e+12       5-1-3
478907   3125.0  9.990386e+12       5-1-3
478908   1989.0  9.990386e+12       5-1-3

[463753 rows x 3 columns]

In [20]:
df_precios = df_precios.dropna()
df_precios = df_precios.drop_duplicates()

In [23]:
df_precios.producto_id =  df_precios['producto_id'].apply(lambda x: int(x) if isinstance(x,float) else None)
df_precios.precio = df_precios.precio.astype(float)

In [51]:
df_precios

         precio    producto_id sucursal_id
0         399.0           2288     2-1-092
1         299.0           2288     2-1-206
2         399.0           2288     2-2-241
3       49999.0         205870     9-1-430
4       53999.0         205870       9-2-4
...         ...            ...         ...
478904  13999.0  9569753142128      25-1-1
478905   3499.0  9795403001143      25-1-1
478906   3125.0  9990385651922       5-1-3
478907   3125.0  9990385651939       5-1-3
478908   1989.0  9990385651946       5-1-3

[463753 rows x 3 columns]

In [40]:
dff = df_precios2[['producto_id','sucursal_id']]

In [45]:
txt = "10-1-2300073000005"

In [47]:
txt.split('-')[2]

'2300073000005'

In [48]:
df_precios2.producto_id.apply(lambda x: x.split('-')[2] if isinstance(x,str) else None)

IndexError: list index out of range

In [63]:
df_precios = df_precios.dropna()
df_precios['producto_id'] = df_precios['producto_id'].astype('int64',errors='ignore')

In [11]:
df_precios2

NameError: name 'df_precios2' is not defined

In [84]:
def preProc(df):
    df = df.copy()
    df = df.dropna()
    df = df.drop_duplicates()
    return df

In [85]:
df_precios2 = preProc(df_precios2)

In [86]:
df_precios2

        precio    producto_id sucursal_id
0        29.90  0000000001663     2-1-014
1        29.90  0000000002288     2-1-032
2        39.90  0000000002288     2-1-096
3       499.99  0000000205870     9-1-686
4       519.99  0000000205870     9-2-248
...        ...            ...         ...
472161  139.99  9569753142128      25-1-1
472162   34.99  9795403001143      25-1-1
472163  312.50  9990385651922       5-1-3
472164  312.50  9990385651939       5-1-3
472165  198.90  9990385651946       5-1-3

[472131 rows x 3 columns]

In [21]:
for file in files:
    if "xlsx" in file:
        df_precios = pd.read_excel(file)

In [23]:
p = crearDf(files)

In [ ]:
for file in files:
    df_pre

In [16]:
df = pd.read_excel(r"C:\Users\ferch\Desktop\Henry-PIs\Datasets relevamiento precios\Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx")

In [17]:
df = pd.rea

         precio   producto_id sucursal_id
0         399.0  2.288000e+03     2-1-092
1         299.0  2.288000e+03     2-1-206
2         399.0  2.288000e+03     2-2-241
3       49999.0  2.058700e+05     9-1-430
4       53999.0  2.058700e+05       9-2-4
...         ...           ...         ...
478904  13999.0  9.569753e+12      25-1-1
478905   3499.0  9.795403e+12      25-1-1
478906   3125.0  9.990386e+12       5-1-3
478907   3125.0  9.990386e+12       5-1-3
478908   1989.0  9.990386e+12       5-1-3

[478909 rows x 3 columns]