## Importar librerias

In [1]:
import pandas as pd
import os
import glob
from datetime import datetime
from sqlalchemy import create_engine

## Importar archivos

In [2]:
path = os.getcwd() + "\\Dataset\\"
files = glob.glob(path + "/*precios*")
#un solo archivo
#new=glob.glob(path + "/precios_semana_20200413.csv")#para la carga incremental

### Lectura de archivos generalizada

Si Fer, pero con el csv pasa que tienen diferente encodig y solo me fije ahora entonces es mas embole cambierlo.
Si le agrugue lo del parquet, entonces producto si se podria leer asi de una vez

In [6]:
def read_file(path): 

    for i in path:
        ext = os.path.splitext(i)[-1].lower() #deja solo las extensiones
        if ext=='.xlsx':
            xls = pd.ExcelFile(i)
            sheets=xls.sheet_names
            if len(sheets)==1:
                df=pd.read_excel(i)
                return df
            elif len(sheets)==2:
                df1=pd.read_excel(i,sheet_name=0).assign(semana=sheets[0])
                df2=pd.read_excel(i,sheet_name=1).assign(semana=sheets[1])
                return df1, df2
            else:
                print('Archivo Excel con mas de dos sheets')
        elif ext=='.csv' or ext=='.txt':
            df=pd.read_csv(i,sep=',',encoding='utf-16').assign(semana=os.path.basename(i).split('.')[0])
            return df
        elif ext=='.json':
            df=pd.read_json(i).assign(semana=os.path.basename(i).split('.')[0])
            return df
        elif ext=='.parquet':
            df=pd.read_parquet(i)
            return df
        else:
            print("I just can't")

### lectura de archivos (FER)

Solo archivos de precio (Tabla de hechos)

In [3]:
df_precios = pd.read_excel(files[0], dtype=object ,sheet_name=1)
df_precios1 = pd.read_excel(files[0], sheet_name=0)
df_precios2 = pd.read_csv(files[1],sep=',',encoding='utf-16')
df_precios3 = pd.read_json(files[2])
df_delta = pd.read_csv(files[-1], sep='|')

Tabla sucursal

In [4]:
sucu_file = glob.glob(path + "/*sucursal*")
sucursal = pd.read_csv(sucu_file[0])

Tabla de producto y ETL

perdon, ya tengo suenho y no lo uni a la parte de ETL jaja pero, ya con esto se sube al postgres

In [7]:
path1=glob.glob(path + "/producto.parquet")
producto=read_file(path1)
producto.sample(3)

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
10729,44-1-0000000065047,SIN MARCA,Granada 1 Kg,1.0 kg,None,None,None
61652,7798138552357,MOLTO,Fideos de Semola Molto de Trigo Candeal Tallar...,500.0 gr,None,None,None
24660,7790503000197,DOS HERMANOS,Alfajor de Arroz con Relleno de Limon Dos Herm...,24.0 gr,None,None,None

In [9]:
#Veamos los nulos
producto.isna().sum()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [8]:
#Se eliminaran las columnas categoria
producto.drop(columns=['categoria1','categoria2','categoria3'], inplace=True)
producto.head(1)

              id       marca                           nombre presentacion
0  0000000001663  LA ANÓNIMA  Radicheta Atada La Anonima 1 Un       1.0 un

In [9]:
def id_change(x):
    if isinstance(x,str):
        x = x.split('-')[-1]
    elif isinstance(x,float):
        x = int(x)
    else:    
        x=x
    return int(x)

producto.id = producto.id.apply(id_change)

producto.drop_duplicates(subset=['id'],inplace=True)

In [35]:
new=glob.glob(path + "/precios_semanas_20200419_20200426.xlsx")
prueba1, prueba2=read_file(new)

## Transformacion

## <u>FER:</u>  
-  La funcion unDate(x) trabajaba a nivel Serie y originalmente estaba pensada para ser usada en un .apply(), por eso no estaba funcionando. Para corregirlo (no estoy seguro de que sea la mejor manera), la renombre a unDateSeries(x) y cree una unDate(df) que recibe un df y aplica unDateSeries a la serie Sucursal_id.  
-  La typeCheck() para la parte de producto no funcionaba porque trataba de aplicar la funcion en forma vectorizaa sin tener en cuenta los diferentes casos dentro de una misma columna de manera correcta. Ya modifique y quedó funcionando todo.
**A revisar**  
La carga de archivos automatizada no contempla el hecho de que la segunda hoja del sheet tiene datos anteriores a la primera hoja (estan invertidos)

In [10]:
def unDate(df):
    
    def unDateSeries(x):
        """read_excel me trae algunas sucursal_id como si fueran datetime. Esta funcion toma elementos de una serie, 
           chequea si son datetime y en caso de serlo, los convierte a str con el formato acorde al orden de identificadores de sucursal"""
        if isinstance(x,datetime):
            x=x.strftime("%#d-%#m-%Y")
        return x

    df.sucursal_id = df.sucursal_id.apply(unDateSeries)
    return df 

def nasDups(df):
    """Cosas básicas: remover duplicados y nulos"""
    df = df.copy()
    df = df.dropna()
    df = df.drop_duplicates()
    return df

def typeCheck(df):
    """En base a la exploracion inicial, se detectaron errores comunes en los diferentes campos. 
       Esta funcion soluciona todos los problemas encontrados en los diferentes archivos de la fuente de datos"""

    if df.precio.dtype != "float":
        """Algunos precios llegan con un string vacio en vez de nulo. Los convertimos a None para removerlos despues. 
           A los que tienen valores, los convertimos a float"""
        try:
            df.precio = df.precio.apply(lambda x: None if x == '' else x)
            df.precio = df.precio.astype(float)
        except:
            print("Error type precios")

    if df.sucursal_id.dtype != "str":
        try:
            df.sucursal_id = df.sucursal_id.astype('string')
        except:
            print('Error type sucursal_id')
            
    def prod(x):
        if isinstance(x,str):
            x = x.split('-')[-1]
        elif isinstance(x,float):
            x = int(x)
        else:    
            x=x
        return int(x)
    df.producto_id = df.producto_id.apply(prod)

    return df

def splitProd(df):
    """Algunos productos tenian hardcodeada la sucursal. Removemos esa porcion del string y nos quedamos 
       unicamente con el codigo de producto (12-13 char)"""
    df.producto_id = df.producto_id.str.split('-').str[-1]
    
    return df

Agregué etl_sucu que solamente aplica los tipos de datos adecuados para compatiblidad con POSTGRES (no estoy seguro de que sea realmente necesario)

In [11]:
def etl(df):
    df = nasDups(df)
    df = unDate(df)
    df = typeCheck(df)
    #df = splitProd(df)
    return df

def etl_sucu(sucursal):
    sucursal.id=sucursal.id.astype('string')    
    sucursal.comercioId = sucursal.comercioId.astype(int)
    sucursal.banderaId = sucursal.banderaId.astype(int)
    sucursal.banderaDescripcion = sucursal.banderaDescripcion.astype('string')
    sucursal.comercioRazonSocial = sucursal.comercioRazonSocial.astype('string')
    sucursal.provincia = sucursal.provincia.astype('string')
    sucursal.localidad = sucursal.localidad.astype('string')
    sucursal.direccion = sucursal.direccion.astype('string')
    sucursal.sucursalNombre = sucursal.sucursalNombre.astype('string')
    sucursal.sucursalTipo = sucursal.sucursalTipo.astype('string')
    sucursal.columns = sucursal.columns.str.lower()
    return sucursal

 
def etl_prod(producto):
    
    producto=producto.astype({'marca':str,'nombre':str,'presentacion':str})
    return producto

## Aplicación de transformación a Dataframes

In [12]:
df_precios = etl(df_precios)
df_precios1 = etl(df_precios1)
df_precios2 = etl(df_precios2)
df_precios3 = etl(df_precios3)
df_delta = etl(df_delta)
sucursal = etl_sucu(sucursal)
producto=etl_prod(producto)

### Postgresql

Agregué el DROP TABLE IF EXISTS nombre_tabla CASCADE para poder ejecutar siempre el comando sin problemas y cambie los nombres de las columnas de sucursal a todo minusculas porque parece que ahi daba error


CAMBIE DOS COSAS EN TABLA PRODUCTO
ELIMINE LAS CATEGORIAS, Y EL ID LO PUSE COMO BIGINIT PORQUE ESTABA PONIENDO PROBLEMA POR ESO

In [19]:
import psycopg2

tabla_precio = 'DROP TABLE IF EXISTS Precios CASCADE; CREATE TABLE Precios (precio float(10), producto_id int, sucursal_id varchar(10), FOREIGN KEY(sucursal_id) REFERENCES Sucursal(id), FOREIGN KEY(producto_id) REFERENCES Producto(id));'
tabla_producto = 'DROP TABLE IF EXISTS Producto CASCADE; CREATE TABLE Producto (id bigint NOT NULL, marca text, nombre text, presentacion varchar(10), PRIMARY KEY(id));'
tabla_sucursal = 'DROP TABLE IF EXISTS Sucursal CASCADE; CREATE TABLE Sucursal (id varchar(12) NOT NULL, comercioid int, banderaid int, banderadescripcion text, comerciorazonsocial text, provincia text, localidad text, direccion text, lat varchar(20), lng varchar(20), sucursalnombre text, sucursaltipo text, PRIMARY KEY(id))'

conn = psycopg2.connect(
    host='localhost',
   user='admin',
   password='admin1234',
   database='productDb',
   port='5432'
)

cur = conn.cursor()

cur.execute(tabla_producto)
cur.execute(tabla_sucursal)
cur.execute(tabla_precio)

conn.commit()
cur.close()

Carga sucursal

In [33]:
from sqlalchemy import create_engine


cone = create_engine('postgresql://admin:admin1234@localhost:5432/productDb', pool_size=50, max_overflow=0)

sucursal.to_sql(name='sucursal',con=cone, if_exists='append', index=False)
print('La carga se ha hecho con exito!')

La carga se ha hecho con exito!

Carga de producto

In [34]:
producto.to_sql(name='producto',con=cone, if_exists='append', index=False)
print('La carga se ha hecho con exito!')

La carga se ha hecho con exito!

Carga de precios

Aqui empezamos a tener problemas, tenemos por lo menos en el primer archivo (df_precios) 106K registros que no coinciden (mas abajo estan el merge para que vean)

Yo diria que ya los matemos, y subamos eso asi jajja
ok bye

In [35]:
df_precios.to_sql(name='precios',con=cone, if_exists='append', index=False)
print('La carga se ha hecho con exito!')

La carga se ha hecho con exito!

In [36]:
df_precios1.to_sql(name='precios', con=cone, if_exists='append', index=False)

753

In [37]:
df_precios2.to_sql(name='precios', con=cone, if_exists='append', index=False)

131

In [38]:
df_precios3.to_sql(name='precios', con=cone, if_exists='append', index=False)

734

In [ ]:
df_delta.to_sql(name='precios', con=cone, if_exists='append', index=False)

In [40]:
tabla_producto = 'ALTER TABLE producto ADD PRIMARY KEY(id);'
tabla_sucursal = 'ALTER TABLE sucursal ADD PRIMARY KEY(id);'

tabla_precio_2 = 'ALTER TABLE precios ADD FOREIGN KEY (sucursal_id) REFERENCES sucursal (id) MATCH SIMPLE ON UPDATE NO ACTION ON DELETE NO ACTION NOT VALID ;'
tabla_precio_3 = 'ALTER TABLE precios ADD FOREIGN KEY (producto_id) REFERENCES producto (id) MATCH SIMPLE ON UPDATE NO ACTION ON DELETE NO ACTION NOT VALID;'

In [41]:
import psycopg2

conn = psycopg2.connect(
    host='localhost',
   user='admin',
   password='admin1234',
   database='productDb',
   port='5432'
)

cur = conn.cursor()
cur.execute(tabla_producto)
cur.execute(tabla_sucursal)
cur.execute(tabla_precio_2)
cur.execute(tabla_precio_3)
conn.commit()
cur.close()

Hay 106900 registros que no tienen match con sucursal_id (por lo menos en df_precios)

In [83]:
s=df_precios.merge(sucursal,left_on='sucursal_id',right_on='id',how='left')
s[s['id'].isna()]

,precio,producto_id,sucursal_id,id,comercioid,banderaid,banderadescripcion,comerciorazonsocial,provincia,localidad,direccion,lat,lng,sucursalnombre,sucursaltipo
64,37.90,2130828,10-1-2029,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
71,129.00,7933622,9-2-1939,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
73,129.00,7935725,9-2-1939,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
76,1.39,26031101,25-1-2001,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
88,116.00,40084107,13-1-1939,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456725,139.99,9569753142128,25-1-2001,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
456726,34.99,9795403001143,25-1-2001,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
456727,312.50,9990385651922,5-1-2003,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
456728,312.50,9990385651939,5-1-2003,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>
456729,198.90,9990385651946,5-1-2003,<NA>,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,<NA>,<NA>