## Importar librerias

In [1]:
import pandas as pd
import os
import glob
from datetime import datetime
from sqlalchemy import create_engine

## Importar archivos

In [2]:
path = os.getcwd() + "\\Dataset\\"
files = glob.glob(path + "/*precios*")

### lectura de archivos (FER)

In [184]:
df_precios = pd.read_excel(files[0], dtype=object ,sheet_name=1)
df_precios1 = pd.read_excel(files[0], sheet_name=0)
df_precios2 = pd.read_csv(files[1],sep=',',encoding='utf-16')
df_precios3 = pd.read_json(files[2])

### Lectura de archivos generalizada

*Aqui me falta agregar los otros tipos de archivos (csv-json-parquet)*
La idea es que se lean siempre los archivos del directorio y escoja el metodo de lectura segun la extension

In [33]:
# def read_file(paths): 
"""Esto ya realiza la lectura de un archivo excel con dos sheets, se me atrofio el cerebro pensando en un while si tenia mas de dos jaja"""

for i in files:
    ext = os.path.splitext(i)[-1].lower() #deja solo las extensiones
    if ext=='.xlsx':
        xls = pd.ExcelFile(i)
        sheets=xls.sheet_names
        if len(sheets)==1:
            df=pd.read_excel(i)
        elif len(sheets)==2:
            df_map= pd.read_excel(i,sheet_name=None) #crea un dic con cada sheet
            df1=df_map[sheets[0]]
            df2=df_map[sheets[1]]
        else:
            print('Archivo Excel con mas de dos sheets')
    else:
        print('no excel')

no excel
no excel
no excel

## Transformacion

Definicion de funciones para realizar transformaciones a los archivos

- Aplique primero todo el etl como estaba plantado y vi algunos errores en product_id = ya arreglado dentro de las funciones

- La primera funcion unDate aun no arregla el problema (ver en el sheet 2) pero no pude arreglarlo aun

## <u>FER:</u>  
-  La funcion unDate(x) trabajaba a nivel Serie y originalmente estaba pensada para ser usada en un .apply(), por eso no estaba funcionando. Para corregirlo (no estoy seguro de que sea la mejor manera), la renombre a unDateSeries(x) y cree una unDate(df) que recibe un df y aplica unDateSeries a la serie Sucursal_id.  
-  La typeCheck() para la parte de producto no funcionaba porque trataba de aplicar la funcion en forma vectorizaa sin tener en cuenta los diferentes casos dentro de una misma columna de manera correcta. Ya modifique y quedó funcionando todo.
**A revisar**  
La carga de archivos automatizada no contempla el hecho de que la segunda hoja del sheet tiene datos anteriores a la primera hoja (estan invertidos)

In [177]:

def unDate(df):
    
    def unDateSeries(x):
        """read_excel me trae algunas sucursal_id como si fueran datetime. Esta funcion toma elementos de una serie, 
           chequea si son datetime y en caso de serlo, los convierte a str con el formato acorde al orden de identificadores de sucursal"""
        if isinstance(x,datetime):
            x=x.strftime("%d-%m-%Y")
        return x

    df.sucursal_id = df.sucursal_id.apply(unDateSeries)
    return df 

def nasDups(df):
    """Cosas básicas: remover duplicados y nulos"""
    df = df.copy()
    df = df.dropna()
    df = df.drop_duplicates()
    return df

def typeCheck(df):
    """En base a la exploracion inicial, se detectaron errores comunes en los diferentes campos. 
       Esta funcion soluciona todos los problemas encontrados en los diferentes archivos de la fuente de datos"""

    if df.precio.dtype != "float":
        """Algunos precios llegan con un string vacio en vez de nulo. Los convertimos a None para removerlos despues. 
           A los que tienen valores, los convertimos a float"""
        try:
            df.precio = df.precio.apply(lambda x: None if x == '' else x)
            df.precio = df.precio.astype(float)
        except:
            print("Error type precios")

    if df.sucursal_id.dtype != "str":
        try:
            df.sucursal_id = df.sucursal_id.astype('string')
        except:
            print('Error type sucursal_id')
            
    def prod(x):
        if isinstance(x,str):
            x = x.split('-')[-1]
        elif isinstance(x,float):
            x = int(x)
        else:    
            x=x
        return x
    df.producto_id = df.producto_id.apply(prod)

    return df

def splitProd(df):
    """Algunos productos tenian hardcodeada la sucursal. Removemos esa porcion del string y nos quedamos 
       unicamente con el codigo de producto (12-13 char)"""
    df.producto_id = df.producto_id.str.split('-').str[-1]
    
    return df

In [183]:
def etl(df):
    df = nasDups(df)
    df = unDate(df)
    df = typeCheck(df)
    #df = splitProd(df)
    return df

## Aplicacion de transformacion a Dataframes

In [185]:
# df_precios = etl(df_precios)
# df_precios1 = etl(df_precios1)
# df_precios2 = etl(df_precios2)
# df_precios3 = etl(df_precios3)

In [186]:
df_precios

        precio    producto_id sucursal_id
0        29.90           2288     2-1-184
1        39.90           2288     2-1-206
2       499.99         205870     9-1-430
3       539.99         205870     9-2-107
4       539.99         205870  09-03-5218
...        ...            ...         ...
458538  139.99  9569753142128  25-01-2001
458539   34.99  9795403001143  25-01-2001
458540  312.50  9990385651922  05-01-2003
458541  312.50  9990385651939  05-01-2003
458542  198.90  9990385651946  05-01-2003

[456736 rows x 3 columns]

### Postgresql

In [17]:
cone = create_engine('postgresql://admin:admin1234@localhost:5432/productDb')

In [ ]:
df_precios.to_sql(name='producto',con=cone, if_exists='append')
print('La carga se ha hecho con exito!')

#si dice carga con exito pero no lo encontre en mi pgadmin